.bg {
  background-color:#f2f2f2;
  margin-bottom: 20px;
  border-radius: 4px;
  height: 400px;
  box-sizing: border-box;
  padding: 10px;
}

.grid-empresa {
  display: flex;
  width: 800px;
  justify-content: space-around;
  padding: 10px 20px;
  position: relative;
}

.grid-empresa-1 {
  display: grid;
  align-content: center;
  gap: 40px;
}

.empresa-texto {
  font-size: 1.125rem;
  color: #0d0d0d;
  line-height: 1.2;
  text-align: start;
  max-width: 400px;
}
.video-empresa {
  max-width: 400px;
  border-radius: 2px;
  justify-self: start;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.3);
}
.grid-empresa-2 {
  display: grid;
  align-content: center;
  gap: 60px;
}

.empresa-titulo {
  font-size: 1.5rem;
  line-height: 1.1;
  font-weight: bold;
  color: #0d0d0d;
  text-transform: uppercase;
}

.grid-skills {
  display: grid;
  gap: 20px;
}

.Skills {
  justify-self: center;
  font-size: 1.5rem;
  line-height: 1.1;
  font-weight: bold;
  color: #0d0d0d;
  text-transform: uppercase;
}

.Skills::before {
  content: "";
  width: 2px;
  height: 90%;
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 20px;
  left: 65%;
}


.empresa-habilidade {
  display: flex;
  flex-direction: column;
}

.empresa-habilidade li {
  color: #0d0d0d;
  font-size: 1.125rem;
  line-height: 1.4;
  border-radius: 4px;
  background-color: #f2c438;
  padding: 5px 10px;
  text-align: center;
  font-weight: 600;
}

.link-projeto {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
  justify-self: start;
  color: #f2f2f2;
  padding: 20px 30px;
  border-radius: 4px;
  transition: 0.4s;
  font-weight: bold;
}
 

@media (max-width: 830px) {
  .grid-empresa {
    width: 600px;
  }
  .video-empresa {
    width: 300px;
  }
  .empresa-texto {
    font-size: 1rem;
  }
  .grid-empresa-2 {
    gap: 20px;
  }
  .link-projeto {
    padding: 10px 20px;
    justify-self: center;
  }
}

@media (max-width: 630px) {
  .grid-empresa {
    width: 400px;
    flex-direction: column;
  }
  .video-empresa {
    width: 250px;
    justify-self: center;
  }
  .empresa-texto {
    font-size: 1rem;
  }
  .grid-empresa-2 {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }

  .grid-empresa-1 {
    gap: 20px;

  }

  .Skills::before {
    display: none;
  }

  .Skills, .empresa-titulo {
    font-size: 1.135rem;
    text-align: center;
  }

  .empresa-texto {
    text-align: center;
    font-size: .875rem;
  }
  .empresa-habilidade li {
    font-size: .875rem;
    line-height: 1;
    padding: 5px 10px;
    text-align: center;
    font-weight: 700;
    align-self: center;
  }

  .link-projeto{
    font-size: .875rem;
    padding: 30px;
    justify-self: center;
  }

  .grid-skills {
    display: grid;
    gap: 10px;
  }
}

@media (max-width: 430px) {
  .grid-empresa {
    width: 300px;
  }

}