
.footer-container {
  display: grid;
  max-width: 1200px;
  padding: 30px;
  margin: 0 auto;
  justify-items: center;
}

.footer-container p {
  color: #f2f2f2;
}


.redes-grid {
  display: none;
  gap: 20px;
}

.redes-grid img {
  width: 30px;
  transition: 0.4s;
}

.redes-grid img:hover {
  transform: scale(1.3);
}

@media (max-width: 500px) {
  .footer {
    text-align: center;
  }
  .redes {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer-container {
    padding: 60px 30px;
  }
}
