.formacao-container {
  max-width: 1200px;
  padding: 120px 20px;
  margin: 0 auto;
  display: grid;
  gap: 100px;
  position: relative;
}

.formacao .subtitulo {
  color: #f2c438;
}

.formacao-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  text-align: center;
  margin-bottom: 60px;
  color: #f2f2f2;
  margin-top: 14px;
}

.formacao-texto strong {
  color: #f2c438;
}

.faculdade-lista {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 60px;
}

.faculdade {
  flex: 1;
  background: #f2ebd5;
  padding: 20px;
  border-radius: 4px;
}

.faculdade-curso {
  color: #d99e32;
  font-size: 1.125rem;
  line-height: 1.4;
  margin-bottom: 20px;
}

.faculdade-instituicao {
  font-size: 1rem;
  color: #0d0d0d;
}

.formacao-extra h3 {
  font-size: 1.5rem;
  line-height: 1.4;
  color: #f2c438;
  text-transform: uppercase;
  margin-bottom: 30px;
  text-align: center;
}

.formacao-extra li {
  font-size: 1.125rem;
  line-height: 1.1;
  margin-bottom: 20px;
  color: #f2f2f2;
}

.formacao-extra span {
  color: #d99e32;
}

.cursos li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

@media (max-width: 800px) {
  .formacao-container {
    grid-template-columns: 1fr;
    padding: 60px 20px;
    gap: 50px;
  }

  .formacao-texto {
    font-size: 1.25rem;
  }
}

@media (max-width: 400px) {
  .formacao .subtitulo {
    font-size: 2rem;
  }
  .formacao-texto {
    font-size: 1rem;
    text-align: center;
  }
  .formacao-extra li {
    font-size: 0.75rem;
  }
  .formacao-extra span {
    font-size: 0.75rem;
  }
}
