body {
  margin: 0;
  background-color: #0d0d0d;
  font-family: "Press Start 2P", cursive;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

img {
  max-width: 100%;
  display: block;
}

.projeto {
  font-weight: bold;
  color: #f2c438;
  transition: 0.5s;
}

.projeto:hover {
  color: red;
}

.subtitulo {
  font-size: 6rem;
  line-height: 1;
  word-break: break-all;
  text-transform: uppercase;
  text-align: center;
}

video {
  width: 500px;
  border-radius: 4px;
  justify-self: center;
}

.video-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.link-projeto {
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
  place-self: end;
  color: #0d0d0d;
  padding: 20px 30px;
  border-radius: 4px;
  transition: 0.4s;
}

@media (max-width: 800px) {
  .subtitulo {
    font-size: 3rem;
    max-width: initial;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .video-grid {
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
  .link-projeto {
    place-self: center;
    font-size: 0.75rem;
  }
  video {
    place-self: center;
    width: 250px;
  }
}

/* Color Theme Swatches in Hex */
.UI/UX-1-hex {
  color: #a6886d;
}
.UI/UX-2-hex {
  color: #736253;
}
.UI/UX-3-hex {
  color: #26150f;
}
.UI/UX-4-hex {
  color: #593a2e;
}
.UI/UX-5-hex {
  color: #f2f2f2;
}
