body {
  margin: 0;
  background-color: #0d0d0d;
  font-family: "Press Start 2P", cursive;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

img {
  max-width: 100%;
  display: block;
}

.projeto {
  font-weight: bold;
  color: #f2c438;
  transition: 0.5s;
}

.projeto:hover {
  color: red;
}

.subtitulo {
  font-size: 6rem;
  line-height: 1;
  word-break: break-all;
  text-transform: uppercase;
  text-align: center;
}

video {
  width: 500px;
  border-radius: 4px;
  justify-self: center;
}

.video-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.link-projeto {
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
  place-self: end;
  color: #0d0d0d;
  padding: 20px 30px;
  border-radius: 4px;
  transition: 0.4s;
}

@media (max-width: 800px) {
  .subtitulo {
    font-size: 3rem;
    max-width: initial;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .video-grid {
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
  .link-projeto {
    place-self: center;
    font-size: 0.75rem;
  }
  video {
    place-self: center;
    width: 250px;
  }
}

.entrar {
  height: 100vh;
  display: grid;
  place-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

.entrar a {
  padding: 20px;
}
.entrar a:hover {
  animation: shake 0.9s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
}

.site {
  display: none;
  animation: entrar 1s forwards;
}
.site.show {
  display: initial;
}

@keyframes entrar {
  from {
    opacity: 0;
    transform: translate3d(-40px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-2px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(2px, 0, 0);
  }
}
