body {
  margin: 0;
  background-image: linear-gradient( 112.1deg,  rgba(32,38,57,1) 11.4%, rgba(63,76,119,1) 70.2% );
  font-family: "Press Start 2P", cursive;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

img {
  max-width: 100%;
  display: block;
}


.subtitulo {
  font-size: 6rem;
  line-height: 1;
  word-break: break-all;
  text-transform: uppercase;
  text-align: center;
}

@media (max-width: 800px) {
  .subtitulo {
    font-size: 3rem;
    max-width: initial;
    text-align: center;
  }
}

.site {
  display: block;
  animation: entrar 1s forwards;
}

@keyframes entrar {
  from {
    opacity: 0;
    transform: translate3d(-40px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-2px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(2px, 0, 0);
  }
}
