.header {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
  position: relative;
}


.header-menu {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.header-menu a {
  display: block;
  padding: 10px 20px;
  font-size: 1rem;
  color: #f2f2f2;
  text-decoration: none;
  transition: 0.4s;
  text-transform: uppercase;
  font-weight: 400;
}

.header-menu a:hover {
  color: #f2c438;
}

.logo {
  width: 200px;
}

.logo-menu {
  width: 20px;
  display: none;
  transition: .3s;
}

.logo-menu.logo-ativa {
  transform: rotate(90deg);
}

.menu-mobile.menu-ativo {
  display: flex;
  position: absolute;
  flex-direction: column;
  top: 60px;
  right: 20px;
  text-align: end;
  text-transform: uppercase;
  gap: 10px;
}

.menu-mobile {
  display: none;
  font-size: 1.125rem;
  animation: show-up .2s forwards;
}


@media (max-width: 800px) {
  .header {
    gap: 40px;
    padding: 20px;
  }
  .header a {
    border-radius: 4px;
  }
  li a:hover {
    color: #f2f2f2;
  }
  .header-menu {
    display: none;
  }
  .logo-menu {
    display: block;
  }
}
@media (max-width: 430px) {
  .header-menu {
    gap: 10px;
  }
  .header .header-menu a {
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 1rem;
  }
  li a:hover {
    color: #f2f2f2;
  }
  .logo {
    width: 150px;
  }
}

@keyframes show-up {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}